

.home-register {
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  background-color: #222;
  color: #fff;
  border-radius: 15px;
}

.home-register-inputs > div {
  margin-bottom: 25px;
}

.home-register-input {
  display: flex;
}

.home-register-input-label {
  flex: 0 1 20%;
  text-align: left;
}

.home-register-input-value {
  flex: 0 1 80%;
}

.home-register-submit {
  width: 100%;
}
