/* ==========================================================================
   Layout
   ========================================================================== */

.home-register {
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  background-color: #222;
  color: #fff;
  border-radius: 15px;
}

/* ==========================================================================
   Inputs customization
   ========================================================================== */

.home-register-input {
  display: flex;
  margin-bottom: 25px;
  font-size: 24px;
}

.home-register-input-cel {
  display: flex;
  flex: 0 0 50%;
}

.home-register-input-label {
  flex: 0 1 30%;
  text-align: left;
}

.home-register-input-value {
  flex: 0 1 70%;
}

.home-register-input-emoji-label {
  flex: 0 1 60%;
  text-align: right;
}

.home-register-input-emoji-value {
  flex: 0 1 20%;
}

.home-register-input-emoji-choose {
  flex: 0 1 20%;
  display: flex;
  justify-content: flex-end;
}

.home-register-input-emoji-choose-cta {
  margin: 0;
  border: 0;
  display: block;
  height: 100%;
  background: #fff;
}

@media (max-width: 800px) {
  .home-register-input {
    margin-bottom: 0;
    flex-direction: column;
  }

  .home-register-input-cel {
      margin-bottom: 25px;
      flex: 0 0 100%;
  }

  .home-register-input-emoji-label {
    flex: 0 1 30%;
    text-align: left;
  }

  .home-register-input-emoji-choose {
    justify-content: flex-start;
  }
}

/* ==========================================================================
   Submit
   ========================================================================== */

.home-register-submit {
  width: 100%;
}
