/* ==========================================================================
   Layout
   ========================================================================== */

.home-register {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  border-radius: 15px;
}

/* ==========================================================================
   Inputs customization
   ========================================================================== */

.home-register-input {
  font-size: 24px;
}

.home-register-input > div:not(:last-child) {
  margin-bottom: 25px;
}

.home-register-input-cel {
  display: flex;
}

.home-register-input-label {
  flex: 0 1 30%;
  text-align: left;
}

.home-register-input-value {
  flex: 0 1 70%;
}

.home-register-input-emoji-label {
  flex: 0 1 30%;
  text-align: left;
}

.home-register-input-emoji-value {
  flex: 0 1 20%;
}

.home-register-input-emoji-choose-set {
    pointer-events: none;
}

.home-register-input-emoji-choose {
  flex: 0 1 20%;
  display: flex;
  justify-content: flex-start;
}

.home-register-input-emoji-choose-cta {
  margin: 0;
  border: 0;
  display: block;
  height: 100%;
}

/* ==========================================================================
   Submit
   ========================================================================== */

.home-register-submit {
  width: 100%;
}
